@import url('./reboot.css');
@import url('./variables.css');

/* Header */
.header {
  padding: 1.2rem 0;
  background-color: transparent;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-bottom: 1.2rem;
}

@keyframes logo-line-right {
  0% {
    right: -4rem;
  }

  100% {
    right: calc(100% + 4rem);
  }
}
@keyframes logo-line-left {
  0% {
    left: -4rem;
  }

  100% {
    left: calc(100% + 4rem);
  }
}

.header__logo .logo {
  font-size: 3rem;
  letter-spacing: 1px;
  color: var(--white);
  position: relative;
  overflow: hidden;
}

.header__logo .logo::before,
.header__logo .logo::after {
  content: "";
  width: 4rem;
  height: 3px;
  display: block;
  position: absolute;
}
.header__logo .logo::before {
  background-color: var(--green);
  top: 0;
  animation: logo-line-left 1s ease-in-out infinite;
}

.header__logo .logo::after {
  background-color: var(--violet);
  bottom: 0;
  animation: logo-line-right 1s ease-in-out infinite;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header__menu button:first-child {
  margin-right: 2rem;
}

.header__menu-btn {
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  width: 100%;
  max-width: 140px;

  font-size: var(--text-size);
}

.header__menu-btn.signup {
  background-color: var(--white);
  color: var(--bg-black);
}

.header__menu-btn.signin {
  background-color: var(--violet);
  color: var(--white);
}

/* Banner */
.banner {
  padding: 6rem 0;
}

.banner__container {
  display: grid;
  grid-template-columns: auto;
  align-content: center;
  justify-content: center;
}

.banner__content {
  margin-bottom: 3rem;
}

.banner__content > h1 {
  font-size: 3.2rem;
  text-align: center;
  color: var(--green);
  line-height: 34px;
  font-weight: 700;
}

.banner__content > p {
  font-size: var(--text-size);
  color: var(--white);
  text-align: center;
  font-weight: 300;
  margin: 3rem 0;
}

.banner__content > button {
  padding: 1rem 2rem;
  border-radius: 3rem;
  margin: 0 auto;

  width: 100%;
  max-width: 160px;
  display: block;

  font-size: 1.8rem;
  background-color: var(--green);
}

.banner__images {
  width: 100%;
}

.banner__images-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner__images-box {
  position: absolute;  
}

.banner__images-wrapper div:nth-child(2) {
  top: -40px;
  left: 0;
}
.banner__images-wrapper div:nth-child(3) {
  top: 10px;
  right: 0;
}
.banner__images-wrapper div:nth-child(4) {
  top: calc(40% - 3rem);
  left: 0;
}
.banner__images-wrapper div:nth-child(5) {
  top: calc(50% - 3rem);
  right: 20px;
}
.banner__images-wrapper div:nth-child(6) {
  top: calc(100% - 6rem);
  left: 30px;
}
.banner__images-wrapper div:nth-child(7) {
  top: calc(100% - 2rem);
  left: 70%;
}
.banner__images-wrapper div:nth-child(8) {
  top: 60%;
  left: 40px;
}
.banner__images-wrapper div:nth-child(9) {
  top: 0;
  right: calc(50% - 3rem);
}

@keyframes banner-image-zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.banner__images-orbit {
  width: 6rem;
  height: 6rem;
  animation: banner-image-zoom 1.8s ease-in-out alternate infinite forwards;
  opacity: 0;
}

.banner__images-center img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}