@import url('./reboot.css');
@import url('./variables.css');

/* Header */
.header {
  padding: 1.2rem 0;
  background-color: transparent;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-bottom: 1.2rem;
}

@keyframes logo-line-right {
  0% {
    right: -4rem;
  }

  100% {
    right: calc(100% + 4rem);
  }
}
@keyframes logo-line-left {
  0% {
    left: -4rem;
  }

  100% {
    left: calc(100% + 4rem);
  }
}

.header__logo .logo {
  font-size: 3rem;
  letter-spacing: 1px;
  color: var(--white);
  position: relative;
  overflow: hidden;
}

.header__logo .logo::before,
.header__logo .logo::after {
  content: "";
  width: 4rem;
  height: 3px;
  display: block;
  position: absolute;
}
.header__logo .logo::before {
  background-color: var(--green);
  top: 0;
  animation: logo-line-left 1s ease-in-out infinite;
}

.header__logo .logo::after {
  background-color: var(--violet);
  bottom: 0;
  animation: logo-line-right 1s ease-in-out infinite;
}



